/* emojis */
:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has([src*="438767282328436737"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb :last-child)::after {
  background: url("https://discord.com/assets/eb5e83f8df4cf1dec344.svg") no-repeat;
}

:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has([src*="946117739506982963"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb :last-child)::after {
  background: url("https://discord.com/assets/8e8ccb615538d5ac91f5.svg") no-repeat;
}

:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has([src*="771709136051372032"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb :last-child)::after {
  background: url("https://discord.com/assets/18f68727c2c37c34ea95.svg") no-repeat;
}

:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has([src*="1168944894404989031"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb :last-child)::after {
  background: url("https://discord.com/assets/b55b79fc692eaaf822bc.svg") no-repeat;
}

:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has([src*="552750417201594368"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb :last-child)::after {
  background: url("https://discord.com/assets/cd6fac4840b0156c4592.svg") no-repeat;
}


/* layout stuff */

.avatar__08316:is([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"])
+h3 .username_d30d99::after {
  top: -1px;
  border: 0!important;
  background-color: transparent!important;
  margin: 0!important;
  padding: 0!important;
  right: -28px;
  content: "" !important;
  position: absolute;
  width: 18px;
  height: 24px;
  pointer-events: none;
}

.avatar__6337f:has([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"])
~.content_a6999d .username__11d8c::after {
  margin-left: 5px;
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
  pointer-events: none;
}

.userPopoutInner_f545a3:has([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"])
div.profileBadges__7a7cb :last-child::after {
  top: 6px;
  right: -18px;
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
  pointer-events: none;
}

:is(.contents_f41bb2, .memberInner_a32223, .userPopoutInner_f545a3):has(
  [src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"])
:is(.username_d30d99, .username__11d8c, div.profileBadges__7a7cb) {
  margin-right: 24px!important;
}
