/* emojis */
:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="438767282328436737"]) /* olie */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://discord.com/assets/eb5e83f8df4cf1dec344.svg") no-repeat;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="946117739506982963"]) /* cockpl */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://discord.com/assets/8e8ccb615538d5ac91f5.svg") no-repeat;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="771709136051372032"]) /* Aria */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://discord.com/assets/18f68727c2c37c34ea95.svg") no-repeat;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="1168944894404989031"]) /* april */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://discord.com/assets/b55b79fc692eaaf822bc.svg") no-repeat;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="552750417201594368"]) /* orkag */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://discord.com/assets/cd6fac4840b0156c4592.svg") no-repeat;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has([src*="891312383149097052"]) /* blokos */
:is([class*="username"], [class*="username"], div[class*="profileBadges"] :last-child)::after {
	background: url("https://github.com/blokos0/anythingyouwant/blob/main/OFFSET%20ICON.png?raw=true") no-repeat;
	background-size: 100%;
}

/* layout stuff */
[class*="avatar"]:is([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"], [src*="891312383149097052"])
+* [class*="username"]::after {
	top: -1px;
	border: 0!important;
	background-color: transparent!important;
	margin: 0!important;
	padding: 0!important;
	right: -28px;
	content: "" !important;
	position: absolute;
	width: 18px;
	height: 24px;
	pointer-events: none;
}

[class*="avatar"]:has([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"], [src*="891312383149097052"])
~[class*="content"] [class*="username"]::after {
	margin-left: 5px;
	content: "";
	position: absolute;
	width: 18px;
	height: 24px;
	pointer-events: none;
}

[class*="userPopoutInner"]:has([src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"], [src*="891312383149097052"])
div[class*="profileBadges"] :last-child::after {
	top: 6px;
	right: -18px;
	content: "";
	position: absolute;
	width: 18px;
	height: 24px;
	pointer-events: none;
}

:is([class*="contents"], [class*="memberInner"], [class*="userPopoutInner"]):has(
[src*="552750417201594368"], [src*="438767282328436737"], [src*="946117739506982963"], [src*="771709136051372032"], [src*="1168944894404989031"], [src*="891312383149097052"])
:is([class*="username"], [class*="username"], div[class*="profileBadges"]) {
	margin-right: 24px!important;
}
