/* DXC*VXD */
:is([class*="contents"],[class*="memberInner"],[class*="userPopoutInner"],[class*="userProfileModalInner"]):has([src*="929074659033509889"])
:is(h3 [class*="username"],[class*="content"] [class*="username"],div[class*="overlayBackground"] [class*="userText"] > h1,div[class*="overlayBackground"] [class*="container"] > div:not([class*="pronouns"]) > div){
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine-reversed 15s linear infinite;
  background-image: linear-gradient(90deg, #020605, #f1fffd, #020605);
}

/* olie */
:is([class*="contents"],[class*="memberInner"],[class*="userPopoutInner"],[class*="userProfileModalInner"]):has([src*="438767282328436737"])
:is(h3 [class*="username"],[class*="content"] [class*="username"],div[class*="overlayBackground"] [class*="userText"] > h1,div[class*="overlayBackground"] [class*="container"] > div:not([class*="pronouns"]) > div){
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #5bcefa 20%, #f5a9b8 20%, 40%, #ffffff 40%, 60%, #f5a9b8 60%, 80%, #5bcefa 80%);
}
