/* DXC*VXD */
:is(.contents_f41bb2,.memberInner_a32223,.userPopoutInner_f545a3,.userProfileModalInner__7c87d):has([src*="929074659033509889"])
:is(h3 .username_d30d99,.content_a6999d .username_d272d6,div.overlayBackground__86b78 .userText__3e8b7 > h1,div.overlayBackground__86b78 .container_b6b15b > div:not(.pronouns_be950a) > div){
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, #CDBBF9,#7F00E8, #CDBBF9);
}

:is(.contents_f41bb2,.memberInner_a32223,.userPopoutInner_f545a3,.userProfileModalInner__7c87d):has([src*="438767282328436737"])
:is(h3 .username_d30d99,.content_a6999d .username_d272d6,div.overlayBackground__86b78 .userText__3e8b7 > h1,div.overlayBackground__86b78 .container_b6b15b > div:not(.pronouns_be950a) > div){
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #5bcefa 20%, #f5a9b8 20%, 40%, #ffffff 40%, 60%, #f5a9b8 60%, 80%, #5bcefa 80%);
}
